:root {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

#app {
    padding: 2%;
}

#app button {
    display: block;
    width: 100%;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #000;
    background-color: #ffffcc;
    text-transform: uppercase;
    padding: 1.5%;
}